# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host: -
    database_port: -
    database_name: -
    database_user: -
    database_password: -
    mailer_transport: smtp
    mailer_encryption: null
    mailer_auth_mode:  plain 
    mailer_host: null
    mailer_port: 25
    mailer_user: null
    mailer_password: null
    secret: d589881fdb1a747c29c1601887dc2472b734fc79
